<!DOCTYPE html>
<html lang="mk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Техничка анализа</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<nav class="navbar">
    <div class="logo">📈 Берза</div>
    <ul class="menu">
        <li><a href="/">Почетна</a></li>
        <li><a href="page2">Историја на берза</a></li>
        <li><a href="page3">Техничка анализа</a></li>
        <li><a href="page4">Фундаментална анализа</a></li>
                <li><a href="page5">ЛСТМ Резултати</a></li>

    </ul>
</nav>

<h1 style="text-align: center">Предвидување на Берза</h1>
<div class="container">
    <form style="display: block;" id="prediction-form" method="POST">
        <label for="issuer">Издавач:</label>
        <select name="issuer" id="issuer" required>
            {% for issuer in issuers %}
            <option value="{{ issuer }}" {% if issuer == selected_issuer %}selected{% endif %}>{{ issuer }}</option>
            {% endfor %}
        </select>

        <label for="timeframe">Временски Период:</label>
        <select name="timeframe" id="timeframe" required>
            <option value="1 day" {% if timeframe == "1 day" %}selected{% endif %}>1 Ден</option>
            <option value="1 week" {% if timeframe == "1 week" %}selected{% endif %}>1 Недела</option>
            <option value="1 month" {% if timeframe == "1 month" %}selected{% endif %}>1 Месец</option>
        </select>

        <button type="submit" class="btn">Генерирај Сигнали</button>
    </form>

</div>

<div class="result-box" style="margin-left: auto; margin-right: auto">
    <h2>Резултати од Индикаторите</h2>
    {% if signals %}
    <ul style="list-style-type: none">
        <li><strong>Компанија:</strong> {{ selected_issuer }}</li>
        <li><strong>Временски Период:</strong> {{ timeframe }}</li>
        <hr>
        {% for key, signal in signals.items() %}
        <li><strong>{{ key }}:</strong> {{ signal }}</li>
        {% endfor %}


    </ul>
    {% else %}
    <p id="prediction-results">Нема податоци за прикажување. Изберете компанија и временски период.</p>
    {% endif %}
</div>

<footer>
    <p>&copy; 2024 Берза | <a href="#">Политика за приватност</a> | <a href="#">Услови за користење</a></p>
</footer>
</body>
<script src="../static/script.js"></script>
</html>

